.Section{
    width: 1540px;
    height: auto;
    border: none;
    margin-top: 45px;
}
.dastavka{
    width: 1540px;
    height: 250px;
    background-color: #009398;
    color: white;
    font-family:'Trebuchet MS';
    text-align: center;
    padding: 0px 5px; 
}
.wrapper_dastavka{
    
    width: 500px;
    height: 100px;
    margin-top:-20px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: inherit;
    margin-left: 500px;
}
.h1_dastavka{
    font-size: 45px;
    font-family:'Trebuchet MS';
    padding: 15px 0px;
}

.p_dastavka{
    margin: 0;
    font-size: 23px;
}
.btn_section_1{
    width: 200px;
    height: 35px;
    border-radius: 17px;    
    margin: 0;
    border: none;
    background-color: #FFE600;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.btn_section_1:hover{
    background-color: #ffe600e0;

}
.mijozlarni_qadrlash{

    width: 1540px;
    height: 100px;
    background-color: #E2EFEF;
    text-align: center;
    margin-top: 60px;

}
.mijozh1{
    font-size: 45px;
    padding: 15px 0px;
    color: #009398;
    font-family: 'Trebuchet MS';
    
}

.imgSection{
    border: none;
    display: flex;
    justify-content:center;
    margin-top: 60px;
    margin-left: 25px;
}
.imgSectionWrapper{
    width: 350px;
    height: 250px;
    border:none;
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.emojiSection{
    width: 200px;
    height:auto;
    
}   
.imgP{
    border: none;
    font-size: 20px;
    margin: 0;
    font-family:'Trebuchet MS';
    margin-top: -29px;
    /* padding: 10px; */
}
.Xodimlarimizning_profisionalligi{
    font-size: 22px;
}
.Xodimlarimizning_profisionalligiCar{
    font-size: 22px;
    margin-left: 20px;
}
.Xodimlarimizning_profisionalligiCarh1{
    margin-left: 17px;
}
.Intex_Toshkenda{
    width: 1540px;
    height: 100px;
    background-color: #E2EFEF;
    text-align: center;
    color: #009398;

}
.intex_toshkendah1{
    font-size:45px;
    padding: 15px 0px;
    color: #009398;
    font-family: 'Trebuchet MS';
}
.information_intex{
    width: 1540px;
    height: 400px;
    border: none;
    display: flex;
    justify-content:center;
    margin-top: 60px;
}
.information_1{
    width: 470px;
    height: 300px;
    border: none;
    margin-right: 80px;
}
.information_2{
    width: 510px;
    height: 400px;
    border: none;
    margin-right: 20px;

}
.information_p{
    font-weight:490;
    font-size: 20px;
    font-weight: 490;
}
.information_ul{
    text-decoration: none;
    list-style: none;
    margin-left: -40px;
}
.information_li{
    display: flex;
    font-size: 20px;
}
.information_li_p{
    margin:0px 10px;

}
